<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="UserDao" class="demo.springframework.factory.surpport.UserDao"/>

    <bean id="userService" class="demo.springframework.factory.surpport.UserService">
        <property name="uid" value="01"/>
        <property name="company" value="tencent"/>
        <property name="location" value="深圳"/>
        <property name="UserDao" ref="UserDao"/>
    </bean>

    <bean class="demo.springframework.factory.surpport.common.MyBeanFactoryPostProcessor"/>
    <bean class="demo.springframework.factory.surpport.common.MyBeanPostProcessor"/>

</beans>